body {
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100%;
}

.leftSide {
  background-color: #FF69B4;
}

.rightSide {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.mainContent {
  height: 100%;
}

.navbar {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.topSection {
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-content: center;
}

.searchIcon {
  height: auto;
  max-width: 25px;
  margin-left: 50px;
  margin-right: 0px;
}

.bottomSection {
  background-color: pink;
}

.dashboard {
  height: 65%;
  display: grid;
  grid-template-rows: 1fr 4fr 3fr;
  color: white;
}

.logos {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  overflow: inherit;
  margin-bottom: 0px;
}

.logos span {
  font-size: 35px;
  font-weight: bold;
  margin-right: 10px;
}

.logos img {
  height: auto;
  max-width: 50px;
  margin-left: 30px;
}

.mainSettings {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 0px;
}

.mainSettings img, .subSettings img {
  height: auto;
  max-width: 30px;
  margin-left: 40px;
}

.settingsRow {
  display: flex;
  align-items: center;
  gap: 20px;
}

.subSettings {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  font-weight: bold;
  font-size: 18px;
  height: 60%;
  margin-top: 65px;
}

.search {
  display: flex;
  align-items: center;
  gap: 50px;
}

#searchbar {
  width: 800px;
  height: 30px;
  border: none;
  background-color: #E3E8F1;
  border-radius: 15px;
  padding-left: 15px;
}

.notifIcon {
  height: auto;
  max-width: 25px;
}

.profileIcon  {
  height: auto;
  max-width: 50px;
}

.profile {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: 80px;
}

.profileName {
  font-size: 20px;
  font-weight: bold;
}