body {
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100%;
}

.leftSide {
  background-color: #FF69B4;
}

.rightSide {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.mainContent {
  height: 100%;
}

.navbar {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.topSection {

}

.bottomSection {

}

.dashboard {
  height: 65%;
  display: grid;
  grid-template-rows: 1fr 4fr 3fr;
  color: white;
}

.logos {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  overflow: inherit;
}

.logos span {
  font-size: 35px;
  font-weight: bold;
  margin-right: 10px;
}

.logos img {
  height: auto;
  max-width: 50px;
  margin-left: 30px;
}